.section .background {
    height: 250px;
    background-color: #EE7674;
    margin-top: 12%;
}

.section .background2 {
    background-color: #FDCFB7;
    height: 30px;
}

.index h1 {
    font-size: 3rem;
    color:white;
}

.index .polaroid:hover {
    cursor: default;
}

.index .item{
    width: 500px;
}

.index .image{
    height: 450px;
}

.index .polaroid img{
    position: relative;
    top: -110px;
    left: -110px;
}

.index {
    text-align: center;
    margin-top: -450px;
    display: flex;
    justify-content: space-between;
    padding: 0 10rem 0 10rem;
    align-items: center;
}

.index .info {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 50%;
}