body {
    height: auto;
    overflow-x: hidden;
}

.projet {
    padding: 2rem 4rem 2rem 4rem;
    display: flex;
    justify-content: space-between;
    margin-top: -300px;
}

.section .background {
    height: 200px;
    background-color: #EE7674;
    margin-top: 6%;
}

.section .background2 {
    background-color: #FDCFB7;
    height: 30px;
}
.box {
    width: 60%;
}
.box div{
    margin-bottom: 1rem;
}
.visuel {
    display: flex;
    justify-content: space-between;
}
.visuel img {
    max-width: 30%;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}
.description {
    margin-top: 20px;
    font-family: "Spartan", cursive;
    font-size: medium;
    color: rgb(100, 100, 100);
}

.item {
    width: 450px;
    height: 450px;
}

.image {
    max-width: 400px;
    min-height: 400px;
    padding: 1.5rem;
    color: white;
}

.image div {
    margin-bottom: 1rem;
}

.image p {
    font-size: large;
    font-family: "Spartan", cursive;
}

.image h3 {
    font-size: x-large;
    font-weight: bold;
}

.bouton_projet {
    text-align: center;
}

#recoding {
    display: flex;
    justify-content: space-between;
    font-family: "Spartan", cursive;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#recoding img {
    width: 270px;
}

#recoding h2{
    color: rgb(139, 139, 139);
    padding: 4px;
}


