/*importez vos Google fonts*/
@import url("https://fonts.googleapis.com/css?family=Charmonman");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
@import url("http://fr.allfont.net/allfont.css?fonts=freestyle-script-normal");

/*
@font-face {
  font-family: "Freestyle Script Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Freestyle Script Regular"), url("FREESCPT.woff") format("woff");
}*/

/*menu*/
h1.titre {
  font-family: "Amatic SC", cursive;
  background: #d0d6b5;
}

#titre:hover {
  transition-duration: 0.4s;
}

header {
  background: #75b9be;
}

.nav_li {
  font-family: "Spartan", cursive;
}

/*index*/

h1.nom {
  font-family: "Amatic SC", cursive;
}

/*a propos*/

.index {
  background: repeat-x center url("image/fond.png");
}

.profil {
  background: none;
}

.presentation {
  background: repeat-x top url("image/fond.png");
}

@media (min-width: 768px) {
  .presentation {
    background: none;
  }

  .profil {
    background: repeat-x center url("image/fond.png");
  }
}


.photo {
  min-width: 300px;
}

/*
.element {
  margin-left: 9%;
  margin-right: 9%;
}*/

/*
#presentation {
  width: 600px;
}

p.présentation {
  font-size: 140%;
  margin-top: 100px;
  text-align: justify;
  color: white;
}

.cv {
  margin-top: 130px;
  text-align: center;
}

p#cv {
  font-size: 130%;
}*/

/*button {
  font-size: 120%;
  background-color: #867298;
  border-radius: 5px;
  font-family: "Spartan", cursive;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid #867298;
}*/

button {
  background-color: #867298;
  font-family: "Spartan", cursive;
}

button:hover {
  border: 2px solid #867298;
}

footer {
  background: #d0d6b5;
  position: absolute;
  text-align: center;
  font-family: "Spartan", cursive;

}

.top-footer a {
  color: #867298;
}

.ecriture {
  font-size: 130%;
  margin-top: -24%;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

.ecriture#post {
  font-size: 200%;
}

.container1-1 {
  background: none;
}

.container2 {
  background: none;
}

@media (min-width: 1024px) {
  .ecriture {
    font-family: "Freestyle Script Regular", cursive;
    font-size: 200%;
    margin-top: -23.5%;
    text-align: center;
    font-weight: normal;
  }

  .ecriture#post {
    font-size: 250%;
  }

  .container1-1 {
    background: repeat-x center url("image/fond_violet.png");
  }

  .container2 {
    background: repeat-x bottom url("image/fond.png");
  }

  .caption-container {
    font-family: "Freestyle Script Regular", cursive;
  }
}

.video {
  background: no-repeat bottom url("image/ecran.png");
  background-size: contain;
}


/*projet*/

/*
.projets {
  display: flex;
  text-align: center;
}

.projet {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style: none;
}

.projet img.image_projet {
  transition-duration: 0.3s;
  min-width: 200px;
}

.projet img.image_projet:hover {
  cursor: pointer;
  width: 97%;
  transition-duration: 0.3s;
}*/

/*tooltip (vector info)*/
/*
.tooltip {
  position: relative;
  display: inline-block;
}
*/
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #ec716a;
  font-family: "Spartan", cursive;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*fenêtre projet*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  text-align: right;
  margin: 20px auto; /* 15% from the top and centered */

  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
div span {
  color: #867298;
  font-size: 50px;
  z-index: 3;
}

div span:hover,
div span:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*carousel*/

.carousel {

  background: repeat-x center url("image/fond_vert.png");
}

.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  flex: 1 0 280px;
  margin-left: 50px;
  margin-right: 50px;
  scroll-snap-align: center;
  text-align: center;
  list-style: none;
}

.carousel-item img.image_projet:hover {
  cursor: pointer;
  width: 99%;
}

.carousel-items::-webkit-scrollbar-track {
  background-color: #867298a6;
  box-shadow: inset 0 0 5px black;
}

.carousel-items::-webkit-scrollbar {
  height: 20px;
  width: 20px;
}

.carousel-items::-webkit-scrollbar-thumb {
  background-color: #ee7674;
  box-shadow: 0px 0px 5px black;
}

/* Buttons */
.carousel-items::-webkit-scrollbar-button:single-button {
  background-color: #594e69;
  display: block;
  border-style: solid;
  width: 16px;
}
/* Up */
.carousel-items::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-width: 9px 9px 9px 0;
  border-color: transparent #d0d6b5 transparent transparent;
}

.carousel-items::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  border-color: transparent #a2a88c transparent transparent;
}
/* Down */
.carousel-items::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-width: 9px 0 9px 9px;
  border-color: transparent transparent transparent #d0d6b5;
}

.carousel-items::-webkit-scrollbar-button:horizontal:single-button:increment:hover {
  border-color: transparent transparent transparent #a2a88c;
}

.carousel-items::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgba(238, 118, 116, 0.829);
}

#bonkoin {
  color: black;
}

#meteo {
  color: black;
}

/*****************************************SLIDER************************************************/

h3 {
  font-family: "Spartan", cursive;
}


.slide img {
  border-style: double;
  border-color: black;
  border-width: 4px;
  border-radius: 8px;
  z-index: 1;
}


/*Hide the images by default */
.slide {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  color: #867298;
  user-select: none;
  -webkit-user-select: none;
}

/* On hover, add a background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(208, 214, 181, 0.8);
}

.caption-container {
  background-color: #ee7674;
  font-family: "Amatic SC", cursive;

}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
